/* Classes */

.body-copy {
  line-height: 150%;
  font-size: 18px;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin-top: -50px;
  margin-right: auto;
  margin-left: auto;
}

.img-content {
  width: 95%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  position: relative;
}

.content {
  width: 95%;
  max-width: 700px;
  margin: 50px auto;
}

.img {
  padding-top: 25px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.code-snippet {
  background: #ffffff;
  overflow: auto;
  width: auto;
  border: solid black;
  border-width:.1em .1em .1em .8em;
  padding-top:.75em;
}

.pre-code-snippet {
  margin: 0;
  line-height: 125%;
}

.code-f-1 {
  margin-left: -2em;
  color: black;
  font-weight: bold;
}

.cod-f-2 {
  background-color: #fff0f0
}

/* IDs */

#header-container {
  width: 300px;
  height: 25px;
  position: relative;
  top: 0px;
  margin: 0 auto;
}

#header {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  top: 0px;
  position: fixed;
  opacity: .5;
}

#footer-container {
  width: 400px;
  height: 25px;
  position: relative;
  bottom: 25px;
  margin: 0 auto;
}

#footer {
  width: 400px;
  height: 25px;
  position: fixed;
  bottom: 60px;
  margin: 0 auto;
}

#floating-social-icons {
  list-style-type: none;
  padding: 10px;
}

#floating-social-icons li a {
  display: block;
  background-repeat: no-repeat;
  background-position: bottom;
}

/* Tags */

body {
  font-family: 'Questrial', sans-serif;
  width: 100%;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: blue;
}

li {
  font-size: 20px;
  list-style: none;
  float: left;
  padding-left: 5%;
}

img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

h1 {
  text-align: center;
  font-size: 50px;
}

p.body-copy a:link {
  color: grey;
}

p.body-copy a:visited {
  color: black;
}

p.body-copy a:hover {
  color: blue;
}

blockquote {
  line-height: 125%;
  font-size: 18px;
}