/* Classes */

.container {
  width: 925px;
  margin-top: -50px;
  margin-right: auto;
  margin-left: auto;
}

.header-container {
  width: 300px;
  height: 25px;
  position: relative;
  top: 0px;
  margin: 0 auto;
}

.header {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  top: 0px;
  position: fixed;
  opacity: .5;
}

.content {
  width: 700px;
  margin: 50px auto;
  padding-bottom: 100px;
}

.img {
  padding-top: 25px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.footer-container {
  width: 400px;
  height: 25px;
  position: relative;
  bottom: 25px;
  margin: 0 auto;
}

.footer {
  width: 400px;
  height: 25px;
  position: fixed;
  bottom: 60px;
  margin: 0 auto;
}

/* IDs */

#floating-social-icons {
  list-style-type: none;
  padding: 10px;
}

#floating-social-icons li a {
  display: block;
  background-repeat: no-repeat;
  background-position: bottom;
}

/* Tags */

body {
  font-family: Avenir;
  width: 100%;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: blue;
}

li {
  font-size: 20px;
  list-style: none;
  float: left;
  padding-left: 5%;
}

img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

h1 {
text-align: center;
font-size: 50px;
}
